:root {
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
}

body {
  font-family: "Josefin Sans";
}

.hero {
  background-image: url("/todoapp/assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  height: 26vw;
}

.todo {
  display: flex;
  justify-content: space-evenly;
  font-size: 36px;
  color: var(--VeryLightGray);
  padding: 5vw;
}

#newItem {
  display: none;
  border-radius: 200px;
}

.check {
  margin: 0 0 0 27vw;
}
.formDiv {
  text-align: center;
}
.form {
  height: 3vw;
  width: 36vw;
  border-radius: 5px;
  border-style: none;
  font-family: "Josefin Sans";
  font-size: 18px;
}

.item {
  text-align: left;
  margin: auto;
  background-color: white;
  list-style-type: none;
  width: 36vw;
  height: 3vw;
  border-radius: 5px;
  font-size: 18px;
  line-height: 3vw;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.lastRow {
  margin: auto auto 2vw auto;
  vertical-align: bottom;
  background-color: white;
  list-style-type: none;
  width: 36vw;
  height: 3vw;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 3vw;
}

.form:focus {
  outline: none;
  font-family: "Josefin Sans";
  font-size: 18px;
}

.btn {
  display: none;
}

.btnX {
  height: 2vw;
  width: 2vw;
  margin: 0 0 0 70vw;
  color: red;
}

.drag {
  display: none;
  text-align: center;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  z-index: -99;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
